{
  "singleQuote": true,
  "semi": true,
  "vueIndentScriptAndStyle": false,
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss", "**/*.html"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}
